{% extends 'main.html' %}

{% block content %}
<div class="container">
  <h2 class="text-center mb-4">
    Formulario para el control {{ frequency.name|upper }} del Acelerador Lineal
  </h2>

  <div class="row mb-4">
    <div class="col-6">
      <p class="font-weight-bold">Acelerador Lineal: {{ linac.name }}</p>
    </div>
    <div class="col-6 text-end">
      <p class="font-weight-bold">
        Fecha: {{ current_date.strftime('%d/%m/%Y') }}
      </p>
    </div>
  </div>

  <form id="test-form" method="POST" action="{% if result_uid %}{{ url_for('test.test_suite_update', result_uid=result_uid) }}{% else %}{{ url_for('test.test_suite_submit') }}{% endif %}">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    <input type="hidden" name="result_uid" value="{{ result_uid }}" />
    <input type="hidden" name="linac_uid" value="{{ linac.uid }}" />
    <input type="hidden" name="test_suite_uid" value="{{ test_suite.uid }}" />
    <input type="hidden" name="frequency_uid" value="{{ frequency.uid }}" />
    <input type="hidden" name="created_at" value="{{ current_date.strftime('%Y-%m-%d') }}" />
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Pruebas</th>
          <th>Estado</th>
        </tr>
      </thead>
      <tbody>
        {% set categories = test_suite_tests|map(attribute='category_name')|unique %}
        {% for category in categories %}
        <tr class="table-secondary">
          <td colspan="2"><strong>{{ category|capitalize }}</strong></td>
        </tr>
        {% for test in test_suite_tests %}
        {% if test.category_name == category %}
        <tr>
          <td>{{ test.test_name }}</td>
          <td>
            {% if frequency.name == 'mensual' %}
            <select class="form-select" id="{{ test.uid }}" name="test_results_data[{{ test.uid }}]">
              <option value=""
                {% if test.result is none %}selected{% endif %}>Seleccione...</option>
              <option value='pass' {% if test.result == 'pass' %}selected{% endif %}>✓</option>
              <option value='fail' {% if test.result == 'fail' %}selected{% endif %}>✗</option>
</select>
            {% else %}
            {% if category == 'Dosimétricos' %}
            <select
              class="form-select"
              id="{{ test.uid }}"
              name="test_results_data[{{ test.uid }}]"
            >
              <option value="" selected>Seleccione...</option>
              <option value="F">F</option>
              <option value="E">E</option>
              <option value="R">R</option>
              <option value="S">S</option>
              <option value="P">P</option>
              <option value="pass">✓</option>
            </select>
            {% else %}
            <div class="form-check">
              <input type="hidden" name="test_results_data[{{ test.uid }}]" value="fail" />
              <input class="form-check-input" type="checkbox" id="{{ test.uid }}" name="test_results_data[{{ test.uid }}]" value="pass" {% if test.result == 'pass' %}checked{% endif %} />
            </div>
            {% endif %}
            {% endif %}
          </td>
        </tr>
        {% endif %}
        {% endfor %}
        {% endfor %}
      </tbody>
    </table>

    <div class="mb-3">
      <label for="observations" class="form-label">Observaciones:</label>
      <textarea class="form-control" id="observations" name="observations" rows="3">{{ result }}</textarea>   
    </div>

    <div class="text-center mb-3">
      <p>
        (a) En todos los casos colocar ✓ (satisfactorio) cuando todo funciona
        correctamente o está en tolerancia, y una ✗ cuando no.
      </p>
      <p>
        (b) El físico revisará semanalmente, o cuando se reporten problemas.
      </p>
      <p>
        Si el formulario cuenta con test Dosimétricos y la prueba falla: Colocar
        el motivo F (Error,No completo UM), E (Energía), R (Rendimiento),
        S(Simetría), P (Planicidad); en el caso que corresponda especificar el
        eje X ó Y
      </p>
      <p>
        Nota: En caso de no funcionamiento de algún sistema o de que alguna
        variable esté fuera de tolerancia se debe avisar a Física de forma
        inmediata.
      </p>
    </div>

    <div class="text-center">
      <button type="submit" class="btn btn-primary">Enviar</button>
    </div>
  </form>
  <br />
</div>

<script>
  function checkTestsFailed() {
    let testFailed = false;
    document.querySelectorAll('select, input[type="checkbox"]').forEach(function (input) {
      if (input.tagName === "SELECT") {
        if (input.value === "" || input.value !== "pass") {
          testFailed = true;
        }
      } else if (input.type === "checkbox") {
        if (!input.checked) {
          testFailed = true;
        }
      }
    });
    return testFailed;
  }

  function updateObservationsRequired() {
    const observations = document.getElementById("observations");
    observations.required = checkTestsFailed();
  }

  // Agregar event listeners a todos los inputs y selects
  document.querySelectorAll('select, input[type="checkbox"]').forEach(function (input) {
    input.addEventListener("change", function () {
      updateObservationsRequired();
    });
  });

  // Validación del formulario
  document.getElementById("test-form").addEventListener("submit", function (event) {
    const observations = document.getElementById("observations");
    if (checkTestsFailed() && !observations.value.trim()) {
      event.preventDefault();
      alert("Por favor, complete el campo de observaciones si algún test falla.");
      observations.focus();
    }
  });

  // Ejecutar al cargar la página para establecer el estado inicial
  updateObservationsRequired();
</script>
{% endblock %}
