{% extends "main.html" %}
{% block content %}
<div class="container">
  <h2 class="text-center mb-4">Formulario para el control DIARIO del Acelerador Lineal</h2>

  <div class="row mb-4">
    <div class="col-6">
      <p class="font-weight-bold">Acelerador Lineal: {{ linac.name }}</p>
    </div>
    <div class="col-6 text-end">
      <p class="font-weight-bold">Fecha: {{ current_date.strftime('%d/%m/%Y') }}</p>
    </div>
  </div>

  <form method="POST" action="{{ url_for('test.test_suite_submit') }}">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <input type="hidden" name="linac_uid" value="{{ linac.uid }}">
    <input type="hidden" name="test_suite_uid" value="{{ test_suite.uid }}">
    <input type="hidden" name="frequency" value="{{ frequency }}">
    <input type="hidden" name="created_at" value="{{ current_date.strftime('%Y-%m-%d') }}">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Pruebas</th>
          <th>Estado</th>
        </tr>
      </thead>
      <tbody>
        {% set categories = ['seguridad', 'sistema de para de emergencia', 'mecánicos'] %}
        {% for category in categories %}
        <tr class="table-secondary">
          <td colspan="2"><strong>{{ category|capitalize }}</strong></td>
        </tr>
        {% for test in test_suite_tests %}
        {% if test.category == category %}
        <tr>
          <td>{{ test.test_name }}</td>
          <td>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="{{ test.uid }}" name="test_results_data[{{ test.uid }}]" value="pass">
            </div>
          </td>
        </tr>
        {% endif %}
        {% endfor %}
        {% endfor %}
      </tbody>
    </table>

    <div class="mb-3">
      <label for="observations" class="form-label">Observaciones:</label>
      <textarea class="form-control" id="observations" name="observations" rows="3" required></textarea>
    </div>

    <div class="text-center mb-3">
      <p>(a) En todos los casos colocar ✓ (satisfactorio) cuando todo funciona correctamente o está en tolerancia, y una ✗ cuando no.</p>
      <p>(b) El físico revisará semanalmente, o cuando se reporten problemas.</p>
      <p>Nota: En caso de no funcionamiento de algún sistema o de que alguna variable esté fuera de tolerancia se debe avisar a Física de forma inmediata.</p>
    </div>

    <div class="text-center">
      <button type="submit" class="btn btn-primary">Enviar</button>
    </div>
  </form>
  <br />
</div>
{% endblock %}

